:root{
    --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
    --DesaturatedDarkBlue: hsl(214, 17%, 51%);
    --GrayishBlue: hsl(212, 23%, 69%);
    --LightGrayishBlue: hsl(210, 46%, 95%);
    --fuenteP:'Manrope', sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 13px;
    font-family: var(--fuenteP);
    background-color: var(--LightGrayishBlue);
    min-height: 100vh;
    display: grid;
    place-content: center;
    
}
.container{
    z-index: 1;
    position:relative;
}
.main-container{
    width: 328px;
    overflow: hidden;
    border-radius: 10px;
    background-color:white;
    margin-bottom: 30px;    
}
.main-container__img{
    width: 100%;
    height: 215px;
    background-image: url(/images/drawers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.main-container__info{
    padding: 24px 24px 0px 24px;
}
.main-container__info--title{
    color: var(--VeryDarkGrayishBlue);
    font-size: 16px;
    font-weight:700;
    padding-bottom: 15px;
    padding-right: 15px;
}
.main-container__info--text{
    color: var(--DesaturatedDarkBlue);
    padding-right: 24px;
    line-height: 20px;
}
/**********************************/
.main-container__perfil{
    margin:24px 24px 10px 24px ;
    display: flex;
    align-items: center;
}
.main-container__perfil--img{
    width: 45px;
    border-radius: 50%;
}
.main-container__perfil--info{
    margin: 0 45px 0 20px;
}
.main-container__perfil--name{
    font-size: 13px;
    font-weight: 700;
    color: var(--VeryDarkGrayishBlue);
    padding-bottom:5px;
}
.main-container__perfil--date{
    color: var(--GrayishBlue);
}
.main-container__perfil .button,.buttonClose,.buttonCloseOne{
    border-radius: 50%;
    width:35px;
    height: 35px;
    display: grid;
    place-content: center;
    border-style: none;
    cursor: pointer;  
}
.main-container__perfil .buttonCloseOne{
    display: none;
}
/*************SHARE***************************/
.main-container__share{
    position:absolute;
    background-color: var(--VeryDarkGrayishBlue);
    top: 81.5%;
    left: 0%;
    width: 328px;
    display:none;
    height: 70px;
    border-radius:0 0 10px 10px;
    align-items: center;    
}
.main-container__share--text{
    color: var(--LightGrayishBlue);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 5px;
    padding: 0 25px 0 35px;
}
.main-container__share--icons{
    display: flex;
    gap: 1rem;
    margin-right: 30px;
}
.main-container__share .buttonClose{
    display: grid;
}
/**************DESKTOP****************************/
@media(min-width:1100px){
    .main-container{
        width: 730px;
        height: 280px;
        display: flex;  
    }
    .main-container__img{
        height:100%;
    }
    .main-container__info{
        padding: 30px 30px 0px 40px;
    }
    .main-container__info--title{
        font-size: 20px;
        padding-bottom: 10px ;
    }
    /***********PERFIL*****************/
    .main-container__perfil{
        margin:30px 0 10px 40px;
    }
    .main-container__perfil--info{
        margin: 0 140px 0 20px;
    }
    /***********SHARE*********************/
    .main-container__share{
        width:240px;
        height: 60px;
        top:38%;
        left:76%;
        display:none;
        border-radius: 10px;
        z-index:2;
    }
    .main-container__share .buttonClose{
        display: none;
    }
    .triangle {
        width: 10%;
        height: 30%;
        background-color:var(--VeryDarkGrayishBlue);
        position: absolute;
        top: 80%;
        left: 40%;
        transform: rotateY(0deg) rotate(45deg);
    }
   
}

.attribution { 
    font-size: 12px; 
    text-align: center; 
    font-weight: 700;
}
.attribution a { 
    text-decoration: none;
    color: hsl(228, 45%, 44%); 
}