:root {
      /*Text*/
      --Verydarkdesaturatedblue: hsl(238, 29%, 16%);
      --Softred: hsl(14, 88%, 65%);
      /*Gradient Background gradient:*/
      --Softviolet: hsl(273, 75%, 66%);
      --Softblue: hsl(240, 73%, 65%);
      --Verydarkgrayishblue: hsl(237, 12%, 33%);
      --Darkgrayishblue: hsl(240, 6%, 50%);
      /*dividers*/
      --Lightgrayishblue: hsl(240, 5%, 91%);
      --white:#fff;
      --fuente:'Kumbh Sans', sans-serif;    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 12px;
    font-family: var(--fuente);
    background: linear-gradient(180deg,var(--Softviolet), var(--Softblue));
    min-height: 100vh;
    display: grid;
    place-content: center ;
}
.container{
    width: 330px;
    min-height: 520px;
    background-color: var(--white);
    border-radius: 1.5rem;
    padding:1.5rem;
    margin:2rem 0 1rem 0;
    box-shadow: 0 0.6rem 3.4rem var(--Verydarkdesaturatedblue);
}

.container__top__img{
    display: block;
    width: 240px;
    margin: -8.3rem auto 0;/*centar img, se debe dar display block*/
}
.container__top__imageShadow{/*agregar sombra del img*/
    content: url(../images/bg-pattern-mobile.svg);
    width: 240px;
    margin: -4.7rem auto 0;
}
.container__info__line{
    border-color: transparent;
    border-bottom-color: var(--Lightgrayishblue);

}
.container__info__title{
    margin: 1.5rem 0 1.875rem;
    font-size: 2rem;
    text-align: center;
}
.container__info__detail{
    margin: 1rem 0rem;
    font-size: 0.8rem;
    position: relative;
}
.container__info__detail[open]{
    font-weight: 700;
    
}
.container__info__detail[open] .container__info__detail__icon{ /*rotar icono de flecha*/
    transform: rotate(180deg);
    transition: 300ms;/*la transicion debe ser entre 250 y 300 ms*/
}
.container__info__detail__summary{
    list-style: none;
}
.container__info__detail__summary:hover{
    cursor: pointer;
    color: var(--Softred);
    font-weight: 700;
}
.container__info__detail__par{
    color: var(--Darkgrayishblue);
    font-weight: 400;
    margin: 0.6rem 0;
}
.container__info__detail__icon{/*ubicar flechas a 5px de la derecha*/
    position: absolute;
    right: 5px;
    transition: 300ms;/*la transicion debe ser entre 250 y 300 ms*/
}
/*************** Desktop ********************/
@media(min-width:1044px){
    .container{
        width: 924px;
        display: flex;
        background-image: url(../images/bg-pattern-desktop.svg);
        background-repeat: no-repeat;
        background-position-x:536px;
        background-position-y:281px;
        overflow: hidden;
        margin:0 0 1rem 0;
    }
    .container__info,.container__top{
        width: 100%;
    }
    .container__top__imgD{
        display: block;
        width: 474px;
        margin:200px -100px;
    }
    .container__top__box-img{
        position: absolute;
        margin: 325px -116px;
        content: url(../images/illustration-box-desktop.svg);
    }
    .container__top__imageShadow{
        width: 474px;
        content: url(../images/bg-pattern-desktop.svg);
        margin:-38rem -7rem;
        
    }
    .container__info{
        padding: 0.93rem 5rem 1.25rem 2.5rem;
        
    }
    .container__info__title{
        text-align: left;
        margin-bottom: 2rem;
    }
    .container__info__detail{
        margin: 1.625rem 0;
    }
}






.attribution { 
    font-size: 11px; 
    text-align: center;
    color: var(--white);
    font-weight: 700;
    margin-bottom: 1rem;
 }
.attribution a { 
    color:var(--Softred); 
}