@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
:root{
    --fuenteP:'Outfit', sans-serif;
    --White: hsl(0, 0%, 100%);
    --LightGray: hsl(212, 45%, 89%);
    --GrayishBlue: hsl(220, 15%, 55%);
    --DarkBlue: hsl(218, 44%, 22%);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--fuenteP);
    background-color: var(--LightGray);
    min-height: 100vh;
    display: grid;
    place-content: center ;
    
}
.attribution { 
    font-size: 16px; 
    text-align: center;

 }
.attribution a { 
    color: hsl(228, 45%, 44%); 
    
}

.main-container{
    background-color: var(--White);
    max-width: 325px;
    margin:80px auto;
    border-radius: 16px;
    padding: 16px ;
    padding-bottom: 38px; 
}
.img-container{ 
    width:100%;
    border-radius: 1.6rem;
    margin-bottom: 24px;
}
h1{
    color: var(--DarkBlue);
    font-size: 21px;
    text-align: center;
    margin-bottom: 24px;
}
p{
    font-size: 16px;
    color: var(--GrayishBlue);
    text-align: center;
}
h1,p{
    padding: 0 10px;
}