@import "tailwindcss";

@font-face {
  font-family: "BricolageGrotesque";
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url("../assets/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf") format("truetype");
}

@font-face {
  font-family: "DMSans-Italic";
  font-style: italic;
  font-weight: 400 700;
  font-display: swap;
  src: url("../assets/fonts/DM_Sans/DMSans-Italic-VariableFont_opsz,wght.ttf") format("truetype");
}

@font-face {
  font-family: "DMSans";
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url("../assets/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf") format("truetype");
}

@theme {
  /* Neutral */
  --color-Neutral-900: hsl(243, 96%, 9%);
  --color-Neutral-800: hsl(243, 27%, 20%);
  --color-Neutral-700: hsl(243, 23%, 24%);
  --color-Neutral-600: hsl(243, 23%, 30%);
  --color-Neutral-300: hsl(240, 6%, 70%);
  --color-Neutral-200: hsl(250, 6%, 84%);
  --color-Neutral-0: hsl(0, 0%, 100%);

  /* Orange */
  --color-Orange-500: hsl(28, 100%, 52%);

  /* Blue */
  --color-Blue-500: hsl(233, 67%, 56%);
  --color-Blue-700: hsl(248, 70%, 36%);
  --font-sans: "BricolageGrotesque", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  
}
